@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.education-section {

    margin-top: 2rem;
    .section-title {
        @include section-title;
    }

    .education {

        @include block-body;

        @media print {
            padding: 0.45rem 0;
        }
        

        .education-responsibilities,
        .education-description {
            @include responsibility-list;
        }

        .education-header {

            @include block-header;

            .education-title {
                @include block-title;
            }

            .education-period,
            .education-duration {
                @include pill;
                font-size: $font-size-education-period;
            }
        }

        .university-location {
            @include block-location;
        }
    }
}