@use 'src/styles/scss/utils/variables' as *;
@use 'src/styles/scss/utils/mixins' as *;

.experience-section {

    .section-title {
        @include section-title;
    }

    .job {

        margin-bottom: $margin-job;
        padding: 12px 0;
        border-bottom: 1px solid rgba($border-color, 1);
        
        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

        .job-responsibilities,
        .job-description {
            @include responsibility-list;
        }

        .job-header {

            @include block-header;

            .job-title {
                @include block-title;
            }

            .job-period,
            .job-duration {
                @include pill;
            }
        }

        .company-location {
            @include block-location;
        }
    }
}