@use './variables' as *;

// Lista con viñeta personalizada
@mixin responsibility-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: $margin-list;

  li {
    font-size: $font-size-base;
    margin-bottom: 0.25rem;
    text-align: justify;
    padding: 0rem 0.9rem 0rem 1.25rem;
    position: relative;

    &::before {
      content: "▸";
      position: absolute;
      left: 0;
      color: $accent-color;
      font-weight: bold;
    }
  }

  p {
    padding: 0rem 0.9rem 0rem 0.5rem;
    text-align: justify;
  }
}

@mixin section-title {
  font-size: 1.25rem; // 20px, más grande y destacado
  font-weight: 700;
  margin-bottom: 1rem; // 16px
  text-align: left;
  color: $accent-color;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.25rem; // 4px
    left: 0;
    width: 2rem; // 32px
    height: 0.125rem; // 2px
    background-color: $accent-color;
  }
}

// Estilo tipo “píldora”
@mixin pill($bg: rgba($border-color, 0.3), $color: $text-color-light) {
  color: $text-color-light;
  background-color: rgba($border-color, 0.3);
  padding: 0.125rem 0.5rem; // 2px 8px
  border-radius: 0.75rem; // 12px
  font-size: 0.625rem; // 10px
  font-weight: 500;
  white-space: nowrap;
  display: inline-block;
}

@mixin block-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.25rem; // 4px
}

// Título de bloque (por ejemplo, puesto o empresa)
@mixin block-title {
  font-size: 1.0625rem; // 17px, más visible que el contenido base
  font-weight: 600;
  flex: 1;
  margin-right: 0.625rem; // 10px
  color: $accent-color;
}

@mixin block-location {
  font-size: $font-size-institution;
  margin-bottom: 0.5rem; 
  color: $text-color-light;
  font-style: italic;

  .company,
  .university {
    font-weight: 500;
    color: $text-color;
  }

  .separator {
    margin: 0 0.375rem;
  }

  .location {
    font-weight: normal;
  }
}

@mixin block-body {
  margin-bottom: $margin-education;
    padding: 0.75rem 0;
    border-bottom: 0.1rem solid rgba($border-color, 1);
  
    &:last-child {
      border-bottom: none;
      margin-bottom: $margin-lastchild;
    }
}